html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/*END OF RESET CSS*/

body {
  background-color: rgb(236,238,241);
  font-family: verdana;
  font-size: 12px;
}

h2 {
  font-size: 30px;
  margin: 20px;
}

label {
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
}

p {
  text-align: center;
}

span {
  border: solid 0.5px lightgray;
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(236,238,241);
  text-align: center;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 15px;
  font-family: "agenci fb";

}

footer * {
  width: 50%;
}

p { margin-top: 7px;
}

/* Classes */

.button {
  padding: 0;
  margin-left: 10px;
  background-color: rgb(0,119,197);
}

.top_right {
  display: flex;
  justify-content: flex-end;
}

.flex_container {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.form {
  background-color: white;
  height: 600px;
  border: solid 0.5px lightgray;
}

.form * {
  display: block;
}

.block {
  display: block;
  background-color:
}

/*
.center_text {
  display: flex;
  align-items: center;
  flex-direction: column;
}*/

.width {
  width: 33.3333%;
}

.footer {

}

.center_inputs input {
  width: 300px;
  height: 23px;
}

.center_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center_form div {
  margin-top: 30px;
}

/* id */

#submit_button {
  background-color: blue;
  height: 50px;
  color: white;
  font-size: 20px;
  font-family: arial;
}
